streamlit
langchain
langchain-community
groq
python-dotenv
PyPDF2
astrapy
langchain-openai
langchain-astradb
langchain-graph-retriever
cassio 
datasets 
tiktoken 
langchain-huggingface 
sentence-transformers 
openai
langchain-text-splitters
